App_WebReferences/ServiceReference1/CRDOrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CRDOrderMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strRqXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CRDOrderMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CRDOrderMethodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CRDOrderMethodSoapIn">
    <wsdl:part name="parameters" element="tns:CRDOrderMethod" />
  </wsdl:message>
  <wsdl:message name="CRDOrderMethodSoapOut">
    <wsdl:part name="parameters" element="tns:CRDOrderMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="CRDOrderServiceSoap">
    <wsdl:operation name="CRDOrderMethod">
      <wsdl:input message="tns:CRDOrderMethodSoapIn" />
      <wsdl:output message="tns:CRDOrderMethodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CRDOrderServiceSoap" type="tns:CRDOrderServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CRDOrderMethod">
      <soap:operation soapAction="http://tempuri.org/CRDOrderMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CRDOrderServiceSoap12" type="tns:CRDOrderServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CRDOrderMethod">
      <soap12:operation soapAction="http://tempuri.org/CRDOrderMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRDOrderService">
    <wsdl:port name="CRDOrderServiceSoap" binding="tns:CRDOrderServiceSoap">
      <soap:address location="https://sslpayment.uwccb.com.tw/EPOSService/CRDOrderService.asmx" />
    </wsdl:port>
    <wsdl:port name="CRDOrderServiceSoap12" binding="tns:CRDOrderServiceSoap12">
      <soap12:address location="https://sslpayment.uwccb.com.tw/EPOSService/CRDOrderService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>